﻿@model SICC.Models.Cliente

@{
    ViewBag.Title = "Delete";
}
<br />
<div class="panel panel-Deletar">
    <div class="panel-heading"><h3>Voce realmente deseja excluir?</h3></div>
    <div class="panel-body">
        <div>

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cpf)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cpf)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Matricula)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Matricula)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Endereco)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Endereco)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataNascimento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataCadastro)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataCadastro)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NumeroContatoUm)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumeroContatoUm)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NumeroContatoDois)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumeroContatoDois)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ConvenioId)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ConvenioId)
                </dd>

                <br />
                <dt>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ClienteId)
                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" /> 
                        </div>
                    }
                </dt>

            </dl>

        </div>
    </div>
    <div class="panel-footer">
        <a href="~/Cliente/Index" class="btn btn-default"><i class="fa fa-fw fa-arrow-left"></i> Voltar a Lista</a>
    </div>
</div>
