﻿@model SICC.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<br />
<div class="panel panel-informativo">
    <div class="panel-heading">
        <h2>Cliente</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <br />
            <div class="col-md-6">
                <div class="panel-body">
                    <dl class="dl-horizontal" style="font-size: 16px">
                        <dt>
                            @Html.DisplayNameFor(model => model.Nome)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Nome)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Cpf)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Cpf)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Matricula)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Matricula)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Endereco)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Endereco)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DataNascimento)
                        </dt>

                        <dd>
                            @Html.DisplayName(@Model.DataNascimento.ToShortDateString())
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DataCadastro)
                        </dt>

                        <dd>
                            @Html.DisplayName(@Model.DataCadastro.ToLongDateString())
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NumeroContatoUm)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NumeroContatoUm)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NumeroContatoDois)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NumeroContatoDois)
                        </dd>
                        
                        <dt>
                            @Html.DisplayNameFor(model => model.ConvenioId)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.ObjConvenio.Nome)
                        </dd>
                        <br/>
                        <dt>
                            <a href="~/Cliente/Edit/@Model.ClienteId" class="btn btn-warning">Editar</a>
                        </dt>
                    </dl>
                </div>
                
            </div>
            <div class="col-md-6">
                <div class="col-lg-12 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-money fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Emprestimos realizados</div>
                                    <div class="huge">@ViewBag.QtdEmprestimos</div>
                                </div>
                            </div>
                        </div>
                        <a href="~/Emprestimo/Index/@Model.ClienteId">
                            <div class="panel-footer">
                                <span class="pull-left">Emprestimos</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-book fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div>Observações armazenadas</div>
                                    <div class="huge">@ViewBag.QtdObservacoes</div>
                                </div>
                            </div>
                        </div>
                        <a href="~/Observacao/Index/@Model.ClienteId">
                            <div class="panel-footer">
                                <span class="pull-left">Observações</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-1 col-md-offset-0">
                <a href="~/Cliente/Index" class="btn btn-default"><i class="fa fa-fw fa-arrow-left"></i> Voltar a Lista</a>
            </div>
        </div>
    </div>
</div>
