﻿@model SICC.Models.Cliente

@{
    ViewBag.Title = "Edit";
}
<br />
<div class="panel panel-Editar">
    <div class="panel-heading">
        <h2><i class="fa fa-pencil"></i> Editar Cliente</h2>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.DataCadastro)
                @Html.HiddenFor(model => model.ClienteId)
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Cpf, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "form-control setMaskCPF" } })
                        @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Matricula, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Matricula, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Matricula, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DataNascimento, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.EditorFor(model => model.DataNascimento, new { htmlAttributes = new { @class = "form-control setMaskDate" } })*@
                        @{
                            var dataNascimento = Model.DataNascimento;
                            string data = string.Format("{0}-{1}-{2}", dataNascimento.Year, dataNascimento.Month.ToString("00"), dataNascimento.Day.ToString("00"));
                        }
                        <input class="form-control setMaskDate text-box single-line" data-val="true" data-val-date="The field Data de Nascimento must be a date." data-val-required="O campo Data de Nascimento é obrigatório." id="DataNascimento" name="DataNascimento" type="date" value="@data" />
                        @Html.ValidationMessageFor(model => model.DataNascimento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NumeroContatoUm, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NumeroContatoUm, new { htmlAttributes = new { @class = "form-control contato" } })
                        @Html.ValidationMessageFor(model => model.NumeroContatoUm, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NumeroContatoDois, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NumeroContatoDois, new { htmlAttributes = new { @class = "form-control contato" } })
                        @Html.ValidationMessageFor(model => model.NumeroContatoDois, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ConvenioId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("ConvenioId", (SelectList)ViewBag.Convenios, "Selecione...", new { @class = "form-control", @id = "dropConvenio" })

                        @Html.ValidationMessageFor(model => model.ConvenioId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Alterar" class="btn btn-success" />
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        <div>
            @*@Html.ActionLink("Back to List", "Index")*@
            <a href="@Url.Action("Index", "Cliente")" class="btn btn-default"><i class="fa fa-fw fa-arrow-left"></i> Voltar a Lista</a>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@section scripts{

    <script type="text/javascript">

        $(".setMaskCPF").keyup(function () {
            $(".setMaskCPF").setMask("cpf");
        });

        $(".contato").keyup(function () {
            $(".contato").setMask("tel");
        });
    </script>
}
