﻿@model IEnumerable<SICC.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<br/>
<div class="panel panel-Inicial">
    <div class="panel-heading">
        <h2>Clientes Cadastrados</h2>
    </div>
    <div class="panel-body">
        <p>
            <a href="@Url.Action("Create", "Cliente")" class="btn btn-primary"><i class="fa fa-fw fa-user-plus"></i> Adicionar</a>
        </p>
        <table class="table table-hover table-responsive table-condensed" id="tabelaCliente">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th style="width: 13%">
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Matricula)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Endereco)
                </th>
                <th style="width: 8%">
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataCadastro)
                </th>
                <th style="width: 16%"></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Matricula)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Endereco)
                        </td>
                        <td>
                            @Html.DisplayName(item.DataNascimento.ToShortDateString())
                        </td>
                        <td>
                            @Html.DisplayName(item.DataCadastro.ToLongDateString())
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Cliente", new {id = item.ClienteId})" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> </a> &nbsp;
                            <a href="@Url.Action("Details", "Cliente", new {id = item.ClienteId})" class="btn btn-info"><i class="fa fa-fw fa-info"></i> </a> &nbsp;
                            <a href="@Url.Action("Delete", "Cliente", new {id = item.ClienteId})" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> </a> &nbsp;

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabelaCliente').DataTable();
        });
    </script>
}