﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Agência de Negócios</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    @*<link href="/Content/sb-admin.css" rel="stylesheet">*@
    <link href="~/Content/Customizacao.css" rel="stylesheet" />
    <link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="font-size: 50px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 @*@Html.ActionLink("Agência de Negócios", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href="@Url.Action("Index", "Home")" class="navbar-brand"><i class="fa fa-fw fa-line-chart"></i> Agência de Negócios</></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index", "Cliente")"><i class="fa fa-fw fa-users"></i> Clientes</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Convenio")"><i class="fa fa-fw fa-tags"></i> Convênios</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Usuario")"><i class="fa fa-fw fa-user"></i> Usuários</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p align="center">&copy; 2017 - Hudson Fernando Mendes de França 
                <br/> hudsonhfmf@gmail.com</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/meiomask.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>