﻿@model SICC.Models.Usuario

@{
    ViewBag.Title = "Delete";
}

<br />
<div class="panel panel-Inicial">
    <div class="panel-heading">

        <h3>Voce reamente deseja excluir este usuário?</h3>
    </div>
    <div class="panel-body">

        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Login)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Login)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataCadastro)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataCadastro)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Perfil)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Perfil)
                </dd>
                <br/>
                <dt>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.UsuarioId)
                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger"/>
                        </div>
                    }
                </dt>

            </dl>

          
        </div>
    </div>
    <div class="panel-footer">
        <a href="@Url.Action("Index", "Usuario")" class="btn btn-default"><i class="fa fa-fw fa-arrow-left"></i> Voltar a Lista</a>
    </div>
</div>

