﻿@model SICC.Models.Usuario

@{
    ViewBag.Title = "Edit";
}

<br />
<div class="panel panel-Inicial">
    <div class="panel-heading">
        <h2>Editar dados de Usuário</h2></div>
    <div class="panel-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Usuario</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.UsuarioId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Login, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Perfil, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EnumDropDownListFor(m => m.Perfil, "Selecione o Perfil", new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.Perfil, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Resetar Senha" class="btn btn-primary btnResetarSenha" id="@Model.UsuarioId"/>&nbsp;
                        <input type="submit" value="Alterar" class="btn btn-warning" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                       
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="panel-footer">
        <a href="@Url.Action("Index", "Usuario")" class="btn btn-default"><i class="fa fa-fw fa-arrow-left"></i> Voltar a Lista</a>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $('.btnResetarSenha').on("click", function (e) {
            var usuarioIdInfo = e.target.id;

                $.ajax({
                    type: 'POST',
                    url: "/usuario/ResetarSenha",
                    data: { usuarioId: usuarioIdInfo },
                    success: function () {
                        alert("Sucesso ao resetar a senha do Usuário. Senha padrão é Primeira_Senh@123");
                    }
                });
            
        });
    </script>
}