﻿@model IEnumerable<SICC.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<br />
<div class="panel panel-Inicial">
    <div class="panel-heading">
        <h2>Usuários</h2>
    </div>
    <div class="panel-body">

        <p>
            <a href="@Url.Action("Create", "Usuario")" class="btn btn-primary"><i class="fa fa-user-plus"></i> Adicionar</a>
        </p>
        <table class="table table-hover" id="tabelaUsuario">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Login)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Perfil)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataCadastro)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Login)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Perfil)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataCadastro)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Usuario", new {id = item.UsuarioId})" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> </a> &nbsp;
                            <a href="@Url.Action("Delete", "Usuario", new {id = item.UsuarioId})" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> </a> &nbsp;

                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <div class="panel-footer"></div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabelaUsuario').DataTable();
        });
    </script>
}