﻿body {
    background-color: #FFE4E1
}
.navbar-inverse {
    background-color: #FFB6C1

}

.navbar-inverse .navbar-brand {
    color: black
}

.btn-primary {
    background-color: #c71585
}
.navbar-inverse .navbar-nav>li>a {
     color: black
}

.panel-Deletar {
    border-color: #FF69B4;
}

    .panel-Deletar > .panel-heading {
        border-color: #FF69B4;
        color: #fff;
        background-color: #FF69B4;
    }

    .panel-Deletar > a {
        color: #FF69B4;
    }

        .panel-Deletar > a:hover {
            color: #FF69B4;
        }

.panel-Editar {
    border-color: #FF69B4;
}

    .panel-Editar > .panel-heading {
        border-color: #FF69B4;
        color: #fff;
        background-color: #FF69B4;
    }

    .panel-Editar > a {
        color: #FF69B4;
    }

        .panel-Editar > a:hover {
            color: #FF69B4;
        }


.panel-green {
    border-color: #c71585;
}

    .panel-green > .panel-heading {
        border-color: #c71585;
        color: #fff;
        background-color: #c71585;
    }

    .panel-green > a {
        color: #c71585;
    }

        .panel-green > a:hover {
            color: #c71585;
        }


.panel-Inicial {
    border-color: #FF69B4;
}

    .panel-Inicial > .panel-heading {
        border-color: #FF69B4;
        color: #fff;
        background-color: #FF69B4;
    }

    .panel-Inicial > a {
        color: #FF69B4;
    }

        .panel-Inicial > a:hover {
            color: #FF69B4;
        }

        

        .panel-informativo {
    border-color: #FF69B4;
}

    .panel-informativo > .panel-heading {
        border-color: #FF69B4;
        color: #fff;
        background-color: #FF69B4;
    }

    .panel-informativo > a {
        color: #FF69B4;
    }

        .panel-informativo > a:hover {
            color: #FF69B4;
        }