﻿@using SICC.Models
@model SICC.Models.Emprestimo

@{
    ViewBag.Title = "Delete";
}

<br />
<div class="panel panel-Deletar">
    <div class="panel-heading"><h3>Realmente deseja remover este emprestimo?</h3></div>
    <div class="panel-body">
        <div>
            <dl class="dl-horizontal">

                <dt>
                    @Html.DisplayNameFor(model => model.ClienteId)
                </dt>
                @{
                    var Cliente = (Cliente)ViewBag.Cliente;
                }
                <dd>
                    @Html.DisplayName(@Cliente.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ValorEmprestimo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ValorEmprestimo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.QuantidadeParcelas)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.QuantidadeParcelas)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DataEmprestimo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DataEmprestimo)
                </dd>

                <br/>
                <dt>
                    @using (Html.BeginForm())
                         {
                             @Html.AntiForgeryToken()
                             @Html.HiddenFor(model => model.EmprestimoId)
                             <div class="form-actions no-color">
                                 <input type="submit" value="Delete" class="btn btn-danger"/>
                             </div>
                         }
                </dt>
            </dl>
        </div>
    </div>
    <div class="panel-footer">
        <div>
            @{
            var objCliente = (Cliente)ViewBag.Cliente;
            }
            <a href="@Url.Action("Index", "Emprestimo", new {id = @objCliente.ClienteId})" class="btn btn-default"><i class="fa fa-fw fa-arrow-left"></i> Voltar a Lista</a>
        </div>
    </div>
</div>


