﻿@using SICC.Models
@model SICC.Models.Emprestimo

@{
    ViewBag.Title = "Edit";
}

<br />
<div class="panel panel-Editar">
    <div class="panel-heading"><h2>Editar dados do Emprestimo</h2></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr/>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @Html.HiddenFor(model => model.EmprestimoId)
                @Html.HiddenFor(model => model.ClienteId)

                <div class="form-group">
                    @Html.LabelFor(model => model.ClienteId, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @{
                            var Cliente = (Cliente) ViewBag.Cliente;
                        }
                        <input type="text" disabled="disabled" value="@Cliente.Nome" class="form-control"/>

                        @Html.ValidationMessageFor(model => model.ClienteId, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ValorEmprestimo, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ValorEmprestimo, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.ValorEmprestimo, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.QuantidadeParcelas, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.QuantidadeParcelas, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.QuantidadeParcelas, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Conta, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Conta, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Conta, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Banco, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Banco, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Banco, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DataEmprestimo, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @{
                            var dataInfo = Model.DataEmprestimo;
                            string data = string.Format("{0}-{1}-{2}", dataInfo.Year, dataInfo.Month.ToString("00"), dataInfo.Day.ToString("00"));
                        }
                        <input class="form-control text-box single-line" data-val="true" data-val-date="The field Data de Emprestimo must be a date." data-val-required="O campo Data do Emprestimo é obrigatório." id="DataEmprestimo" name="DataEmprestimo" type="date" value="@data"/>
                        @Html.ValidationMessageFor(model => model.DataEmprestimo, "", new {@class = "text-danger"})

                        @Html.ValidationMessageFor(model => model.DataEmprestimo, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Salvar" class="btn btn-success"/>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        <div>
            @{
            var objCliente = (Cliente)ViewBag.Cliente;
            }
            <a href="@Url.Action("Index", "Emprestimo", new {id = @objCliente.ClienteId})" class="btn btn-default"><i class="fa fa-fw fa-arrow-left"></i> Voltar a Lista</a>
        </div>

    </div>
</div>


