﻿@model IEnumerable<SICC.Models.Emprestimo>

@{
    ViewBag.Title = "Index";
}
<br />
<div class="panel panel-Inicial">
    <div class="panel-heading">
        <h3>@ViewBag.NomeCliente e seus Emprestimos</h3>
    </div>
    <div class="panel-body">
        <p>
            <a href="@Url.Action("Create", "Emprestimo")" class="btn btn-primary"><i class="glyphicon glyphicon-usd"></i> Adicionar</a>
        </p>
        <table class="table table-responsive table-hover" id="tabelaEmprestimo">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ValorEmprestimo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuantidadeParcelas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataEmprestimo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Banco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Conta)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorEmprestimo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuantidadeParcelas)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataEmprestimo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Banco)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Conta)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Emprestimo", new {id = item.EmprestimoId})" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> </a> &nbsp;
                        <a href="@Url.Action("Delete", "Emprestimo", new {id = item.EmprestimoId})" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> </a> &nbsp;
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
    <div class="panel-footer">
        <div>
            @{
                var clienteId = ViewBag.ClienteId;
            }
            <a href="@Url.Action("Details", "Cliente", new {id = clienteId})" class="btn btn-default"><i class="fa fa-fw fa-arrow-left"></i> Voltar </a>
        </div>

    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabelaEmprestimo').DataTable();
        });
    </script>
}