﻿@model SICC.Models.Convenio

@{
    ViewBag.Title = "Excluir";
}

<br />
<div class="panel panel-Inicial">
    <div class="panel-heading"><h3>Você tem certeza que deseja excluir?</h3></div>
    <div class="panel-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Sigla)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sigla)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Objservacao)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Objservacao)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ativo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ativo)
                </dd>
                <br />
                <dt>
                    @using (Html.BeginForm())
                     {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ConvenioId);
                        <div class="form-actions no-color">
                            <input type="submit" value="Delete" class="btn btn-danger" />

                        </div>
                    }
                </dt>

            </dl>


        </div>


    </div>
    <div class="panel-footer">
        <a href="@Url.Action("Index", "Convenio")" class="btn btn-default"><i class="fa fa-fw fa-arrow-left"></i> Voltar a Lista</a>
    </div>
</div>
