﻿@model IEnumerable<SICC.Models.Convenio>

@{
    ViewBag.Title = "Index";
}

<br />
<div class="panel panel-Inicial">
    <div class="panel-heading">Convênios</div>
    <div class="panel-body">
        <p>
            <a href="@Url.Action("Novo", "Convenio")" class="btn btn-primary"><i class="glyphicon glyphicon-usd"></i> Adicionar</a>
        </p>
        <table class="table table-responsive table-hover" id="tabelaConvenio">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sigla)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Objservacao)
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sigla)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Objservacao)
                    </td>
                    <td>
                        <a href="@Url.Action("Editar", "Convenio", new {id = item.ConvenioId })" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> </a> &nbsp;
                        <a href="@Url.Action("Excluir", "Convenio", new {id = item.ConvenioId})" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> </a> &nbsp;
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>
    <div class="panel-footer">
        
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabelaConvenio').DataTable();
        });
    </script>
}




