﻿@using SICC.Models
@model SICC.Models.Observacao

@{
    ViewBag.Title = "Create";
}
<br />
<div class="panel panel-Inicial">
    <div class="panel-heading"><h2>Nova observação</h2></div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.ClienteId, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @{

                            var Cliente = (Cliente)ViewBag.Cliente;
                        }
                        <input type="text" disabled="disabled" value="@Cliente.Nome" class="form-control" />

                        @Html.ValidationMessageFor(model => model.ClienteId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.MargemMensal, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MargemMensal, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MargemMensal, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DataObservacao, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.DataObservacao, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.DataObservacao, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Anotacoes, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Anotacoes, new { @class = "form-control", @cols = 80, @rows = 3 })
                        @Html.ValidationMessageFor(model => model.Anotacoes, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Adicionar" class="btn btn-success" />
                    </div>
                </div>
            </div>
                            }
    </div>
    <div class="panel-footer">
        <div>
            @{
                var objCliente = (Cliente)ViewBag.Cliente;
            }
            <a href="@Url.Action("Index", "Observacao", new {id = @objCliente.ClienteId})" class="btn btn-default"><i class="fa fa-fw fa-arrow-left"></i> Voltar a Lista</a>
        </div>
    </div>

</div>

