﻿@using SICC.Models
@model SICC.Models.Observacao

@{
    ViewBag.Title = "Delete";
}
<br />
<div class="panel panel-Deletar">
    <div class="panel-heading"><h3>Realmente deseja remover esta observação?</h3></div>
    <div class="panel-body"><div>
  <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ClienteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClienteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MargemMensal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MargemMensal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anotacoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anotacoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataObservacao)
        </dt>

      <dd>
          @Html.DisplayFor(model => model.DataObservacao)
      </dd>
      <br/>
        <dt>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ObservacaoId)
                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-danger" />

                </div>
            }
        </dt>
    </dl>
  
</div></div>
    <div class="panel-footer">
        <div>
            @{
                var objCliente = (Cliente)ViewBag.Cliente;
            }
            <a href="@Url.Action("Index", "Observacao", new {id = @objCliente.ClienteId})" class="btn btn-default"><i class="fa fa-fw fa-arrow-left"></i> Voltar a Lista</a>
        </div>
    </div>
</div>





