﻿@using SICC.Models
@model SICC.Models.Observacao

@{
    ViewBag.Title = "Edit";
}
<br />
<div class="panel panel-Editar">
    <div class="panel-heading"><h2>Editar dados da Observação</h2></div>
    <div class="panel-body">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @Html.HiddenFor(model => model.ObservacaoId)
                @Html.HiddenFor(model => model.ClienteId)

                <div class="form-group">
                    @Html.LabelFor(model => model.ClienteId, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @{
                            var Cliente = (Cliente) ViewBag.Cliente;
                        }
                        <input type="text" disabled="disabled" value="@Cliente.Nome" class="form-control"/>
                        @Html.ValidationMessageFor(model => model.ClienteId, "", new {@class = "text-danger"})
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.MargemMensal, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MargemMensal, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.MargemMensal, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DataObservacao, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @{
                            var dataInfo = Model.DataObservacao;
                            string data = string.Format("{0}-{1}-{2}", dataInfo.Year, dataInfo.Month.ToString("00"), dataInfo.Day.ToString("00"));
                        }
                        <input class="form-control text-box single-line" data-val="true" data-val-date="The field Data de Observacao must be a date." data-val-required="O campo Data de Observacao é obrigatório." id="DataObservacao" name="DataObservacao" type="date" value="@data"/>

                        @Html.ValidationMessageFor(model => model.DataObservacao, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Anotacoes, htmlAttributes: new {@class = "control-label col-md-2"})
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Anotacoes, new {@class = "form-control", @cols = 80, @rows = 3})
                        @Html.ValidationMessageFor(model => model.Anotacoes, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Salvar" class="btn btn-success  "/>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        <div>
            @{
                var objCliente = (Cliente)ViewBag.Cliente;
            }
            <a href="@Url.Action("Index", "Observacao", new {id = @objCliente.ClienteId})" class="btn btn-default"><i class="fa fa-fw fa-arrow-left"></i> Voltar a Lista</a>
        </div>
    </div>
</div>


