﻿@model IEnumerable<SICC.Models.Observacao>

@{
    ViewBag.Title = "Index";
}
<br/>
<div class="panel panel-Inicial">
    <div class="panel-heading">
        <h2>Observações sobre @ViewBag.NomeCliente</h2>
    </div>

    <div class="panel-body">
        <p>
            <a href="@Url.Action("Create", "Observacao")" class="btn btn-primary"><i class="fa fa-book"></i> Adicionar</a>
        </p>
        <table class="table table-hover" id="tabelaObservacao">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MargemMensal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Anotacoes)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.DataObservacao)
                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MargemMensal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Anotacoes)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataObservacao)
                        </td>
                        <td>
                            @*@Html.ActionLink("Editar", "Edit", new { id = item.ObservacaoId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ObservacaoId })*@
                            <a href="@Url.Action("Edit", "Observacao", new {id = item.ObservacaoId})" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i> </a> &nbsp;
                            <a href="@Url.Action("Delete", "Observacao", new {id = item.ObservacaoId})" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> </a> &nbsp;
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div>
            @{
                var clienteId = ViewBag.ClienteId;
            }
            <a href="@Url.Action("Details", "Cliente", new {id = clienteId})" class="btn btn-default"><i class="fa fa-fw fa-arrow-left"></i> Voltar </a>
        </div>

    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tabelaObservacao').DataTable();
        });
    </script>
}